@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin margin-r-l-auto {
  margin-right: auto;
  margin-left: auto;
}

@mixin flex-common-start{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin inline-alignbottom{
  display: inline-block;
  vertical-align: bottom;
}

@mixin inline-align-middle{
  display: inline-block;
  vertical-align: middle;
}

@mixin clearfix {
  content:"";
  display: table;
  clear: both;
}

@mixin content-max-width-1200 {
  max-width: 1200px;
}

@mixin content-max-width-960 {
  max-width: 960px;
}

@mixin general-padding-80{
  padding-top:80px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

@mixin content-format-text{
    text-align: center;
    line-height: 1.4;

    h2 {font-size: 33px;}
    h3{font-size: 25px; font-weight: normal;padding-top:20px;}
    h4{font-size: 20px; font-weight: normal;padding-top:20px;}

    p , span, a {
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      padding-top:20px;
     }
  }


  @mixin bg-image-fixed{
    height: 650px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
  }

@mixin position-relative{
  position: relative;
  top:0;
  left:0;
  }


  @mixin bg-image-fixed{
    height: 650px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
  }
