div#tab-content{

    .align-mid-50{
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px;
      margin-right: 25px;
    }

  #overview{

    section.intro{

      * {color: white; text-decoration: none;}


      width: 100%;

      background-image: url("img/intro.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .text-container{
        @include content-max-width-960;
        @include margin-r-l-auto;
        @include content-format-text;
        @include general-padding-80;

         a > img {
           width:34px;
           display: inline-block;
           vertical-align: middle;
           margin-right: 20px;
         }
      }

      .image-container{
        @include content-max-width-960;
        @include margin-r-l-auto;

        .intro-img{
          position: relative;

          img:first-of-type{width: 98%;}

          img:last-of-type{
            width:100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }

    section.transition{
      @include content-max-width-960;
      @include margin-r-l-auto;
      color:black;

      .transition-text{
        @include content-format-text;
        @include general-padding-80;
      }

        #transition-carousel {
          position: relative;
          height: 600px;

          ul{ list-style-type: none;}

          .active{z-index:600;}

          li,img{
            position: absolute;
            top:0;
            left:0;
            width: 960px;
          }

          .controls{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            transform: translate(-50%, -50%);
            width: 110%;
            height: 30px;
            font-size: 30px;
            color: orange;

              i:first-of-type{float: left;}
              i:last-of-type{float: right;}
          }
        }
    }

    section.img-attach.first{
      background-image: url('img/image-bg-02.jpg');
      @include  bg-image-fixed;
    }

    section.img-attach.second{
      background-image: url('img/image-bg-02.jpg');
      @include  bg-image-fixed;
    }

    section.product-specs{
      width:100%;
      background-color: #222;
      color: white;

      .flexible{
        @include content-max-width-960;
        @include margin-r-l-auto;

        .text-container{
          @include content-format-text;
          @include general-padding-80;
        }

        .image-container{
          @include margin-r-l-auto;
          img{
            width:100%;
          }
        }
      }

        .pillar-canvas, .pillar-brushes{
      padding-top: 80px;
      padding-bottom: 80px;
      @include content-max-width-1200;
      @include margin-r-l-auto;

      .text-container{
        @include content-format-text;
        text-align: left;
        width:35%;
      }

      .image-container{
        width:55%;
        img{width:100%;}
    }

      }
    }



  } //#overview
} //#tab-content
