@import "partials/_variables.scss";
@import "partials/_common.scss";

*{
  margin:0;
  padding:0;
}

@import "partials/_header.scss";

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

// .collapsed{
//   display:none;
// }
