@import "partials/_variables.scss";
@import "partials/_common.scss";

*{
  margin:0;
  padding:0;
}

#wrapper{
  width:100%;
  height:3000px;
}

@import "partials/_header.scss";

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

.collapsed{
  display:none;
}

main {
  font-family: 'Sailec-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-weight: 400;
  width:100%;

  h1,h2{ font-weight: normal;}
 }

@import "partials/_content-hero.scss";

@import "partials/_content-nav.scss";

@import "partials/_content-tab.scss";
